.Container {
    display: inherit;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    flex: inherit;
    flex-flow: inherit;
    justify-content: inherit;
    align-items: inherit;
    padding: 0 1em;
    gap: 1em;
}